{% extends 'base.html' %}

{% block title %}{{ block.super }} - Profile{% endblock %}

{% block main_col %}
<div class="col-md-offset-3">
    {{ user_profile.views }} <label>profile views</label></br>
    {{ user_profile.reputation }} <label>reputation</label>
    {% if reset %}
        <h5><a href="/share/reset_password">Reset password</a></h5>
    {% endif %}
    <p>Email: {{ another_user.email }}</p>
    {% if user_profile %}
        <p>Website: <a href="{{ user_profile.website }}">{{ user_profile.website }}</a></p>
        {% if user_profile.picture %}
           <img src="{{ user_profile.picture.url }}" />
        {% endif %}
           <p>Gender: {{ user_profile.gender }}</p>
    {% endif %}
    <p>Join in: {{ another_user.date_joined }}</p>
    
    {% if news %}
        {{ news.count }} <label>Posts</label>
        {% load endless %}
        {% paginate news %}

        {% for new in news %}
            <li><a href="{{ new.url }}" target="_newtab">{{ new.title }}</a> {{ new.views }} views {{ new.likes }} <span class="glyphicon glyphicon-thumbs-up"></span> | {{ new.dislikes }} <span class="glyphicon glyphicon-thumbs-down"></span></li>
        {% endfor %}

        {% show_pages %}
    {% endif %}

    {% if comments %}
    <div>
        {{ comments.count }} <label>Comments</label>
        {% load endless %}
        {% paginate comments %}

        {% for comment in comments %}
           <li><a href="{{ comment.news.url }}">{{ comment.news }}</a>-{{ comment.content }} {{ comment.time }}</li>
        {% endfor %}

        {% show_pages %}
    </div>
    {% endif %}
</div>
</br>
{% endblock %}