{% extends 'base.html' %}

{% block title %}{{ block.super }} - Register{% endblock %}

{% block main_col %}
<div class="col-md-7">
    <div class="jumbotron">
        {% if registered %}
        <p>Thank you for registering.</p>
        <h5>You can share news anytime you want.</h5>
        {% else %}
        <h2 class="form-signin-heading">Sign Up Here</h2>
        <form class="form-signin span8" id="user_form" method="post" action="/share/register/" enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in user_form.visible_fields %}
                <div calss="form-group">
                    {{ field.help_text }}
                    {{ field }}
                    <h5 class="text-danger">{{ field.errors }}</h5>
                </div>
            {% endfor %}
            {% for field in profile_form.visible_fields %}
                <div calss="form-group">
                    {{ field.help_text }}
                    {{ field }}
                    <h5 class="text-danger">{{ field.errors }}</h5>
                </div>
            {% endfor %}
            {% for field in captcha_form %}
                {{ field.help_text }}
                {{ field }}
                <h5 class="text-danger">{{ field.errors }}</h5>
            {% endfor %}
            <div calss="form-group">
                <button class="btn btn-success" type="submit">Register</button>
            </div>
        </form>
        {% endif %}
    </div>
</div>
{% endblock %}