{% extends 'base.html' %}

{% block title %}{{ block.super }} - Change password{% endblock %}

{% block main_col %}
<div class="col-md-6">
    <div class="jumbotron">
    {% if reseted %}
    <h5><a href="/share/login">Login</a>when you are want to share.</h5>
    {% else %} 
        <h3>Change password</h3>
            <form class="span8" id="user_form" method="post" action="/share/reset_password/" enctype="multipart/form-data">
                {% csrf_token %}
                <h5 class="text-danger">{{ error }}</h5>
                {% for field in form %}
                {{ field.help_text }}
                {{ field }}
                <h5 class="text-danger">{{ field.errors }}</h5>
                {% endfor %}
                <button class="btn btn-success" type="submit">Reset</button>
            </form>
    {% endif %}
    </div>
</div>
{% endblock %}